html
  head
    script(src="https://cdn.socket.io/socket.io-1.3.7.js")
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js")
    script.
      var ip = "#{ip}",
      port = "#{port}",
      disp_avatars = #{avatars},
      delay = #{delay};
    script(src="/js/main.js")
    script(src=hud)
    link(rel='stylesheet', href=css)
    link(rel='stylesheet', href='/files/fonts/stylesheet.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
    link(rel='stylesheet', href='https://csshake.surge.sh/csshake.min.cs  s')
  body
    section 
     .sponsor
      .inner 
     .win_container
      .chicken
      .bg_container
       .bg
       .text
      .bars
     .topbar_container
      .topbar_i_logo
        .background
        .inner
          //- img(src='../../sponsors/rtp_logo.png')
      .topbar_i_counter
        .separator
        .line1 
        .line2
        .title PLAYERS ALIVE
        .player_count_right
          .right_count 
        .player_count_left   
          .left_count
     //.firepower
      .left 
      .right
      .text FIREPOWER
     .header_container
      //.line
      //.left_logo_container
        .logo
      //.right_logo_container
        .logo
      .time 
      .left_series
        .bo1
        .bo3_map1 
        .bo3_map2
      .right_series
        .bo1
        .bo3_map1 
        .bo3_map2
      .left_name 
      .right_name 
      .left_score 
      .right_score 
      .round_container
        .round_text
      .snow
      .left_separator
      .right_separator
      .bomb_countdown_container
        .background 
        .bomb
      .Pause_Left
        .background
        .Pause_Text Tactical Pause
          .Txt
        .Lower_container
         .pause_1
         .pause_2
         .pause_3
         .pause_4
      .Pause_Right
        .background
        .Pause_Text Tactical Pause
          .Txt
        .Lower_container
         .pause_1
         .pause_2
         .pause_3
         .pause_4
      .win_container_left
      .win_container_right
      .pause_container_left
      .pause_container_right
      .win_text_left 
        .text WINS THE ROUND!
      .win_text_right 
        .text WINS THE ROUND!
    .Progress_Bar
      .Left_Team 
        .Background
        .Progress
      .Right_Team
        .Background
        .Progress
      .Center_Bar
        .BackgroundImage
        .Player_Txt NICOODOZ
        .Center_Txt PLANTING THE BOMB
    .observed_container
      .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
      .line
      .bomb_defuse
      #nades
      .name 
      .health_bar
        .health_icon
        .health 100
        .separator
        .health_bar_bg
          .health_bar_sm
      .ammo_bar
        .ammo_icon 
        .separator
        .ammo_txt 100
    .players_left_container 
      #player1(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_left
        .health_text
        .health_icon
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k  
        .weapon_icon
      #player2(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_left
        .health_text
        .health_icon
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player3(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_left
        .health_text
        .health_icon
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player4(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_left
        .health_text
        .health_icon
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player5(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_left
        .health_text
        .health_icon
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
    .players_right_container 
      #player1(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_right
        .health_icon
        .health_text
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player2(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_right
        .health_icon
        .health_text
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player3(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_right
        .health_icon
        .health_text
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player4(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_right
        .health_icon
        .health_text
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon
      #player5(class="player_container")
       .arrow
       .arrow_2
       .background
       .photo_container
        .photo_player 
          img(src='../../files/img/players/1.png')
        .photo_player_shade
       .health_shade
       .diamond
       .number
       .flash
       .flash_2
       .top_bar
        .health_red
        .health_bar
        .health_bar_bg
       .flex_lower_right
        .health_icon
        .health_text
       .player_name
       .bottom_bar
        .flex_kd
          .k_icon 
          .k 
        .weapon_icon